.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f7f9fa;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #1da1f2;
}
